@model NdcBingo.Models.Me.MeViewModel

@{
  ViewBag.Title = "Me";
  Layout = "_Layout";
}

<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h2>Me</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control form-control-lg" readonly value="@Model.Name">
      </div>
      <div class="form-group">
        <label for="name">Code:</label>
        <input type="text" class="form-control form-control-lg" readonly value="@Model.Code">
      </div>
    </form>
  </div>
</div>
