@model IndexViewModel

@{
  ViewBag.Title = "Hello";
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>NDC Bingo</h1>
  <p class="lead">There are no talks right now.</p>
  <hr class="my-4"/>
  @if (Model.NextTalkTime < DateTimeOffset.MaxValue)
  {
    <p>Next talks start: @Model.NextTalkTime.ToOffset(TimeSpan.Zero).ToString("f")</p>
  }
  <p></p>
</div>
