@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>NDC Bingo uses cookies to store your progress. Your player name and code is saved
    in a PostgreSQL database so you can switch between devices. Some metrics are generated
    including your player code for demonstration purposes in a talk. Your chosen player name
    is not included in that data.</p>

<p>NDC Bingo is a non-evil application. I hope you have fun with it.</p>

<p>Thanks,<br>
    Mark</p>