@model NdcBingo.Models.Game.GameViewModel

@{
  ViewBag.Title = "Game";
  Layout = "_Layout";
}

<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
    <h2>Game</h2>
  </div>
</div>
@for (int r = 0; r < Model.Squares.Length; r += Model.ColumnCount)
{
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
          <div class="card-deck">
        @for (int s = 0; s < Model.ColumnCount; s++)
        {
          var square = Model.Squares[r + s];
            <div class="card text-center" style="min-height: 10vh" data-square-text="@square.Text" data-square-type="@square.Type" data-square-description="@square.Description">
              @if (square.Type.Equals("tech", StringComparison.OrdinalIgnoreCase))
              {
                <i class="fas fa-presentation fa-3x mx-auto my-2"></i>
              }
              <h6>@square.Text</h6>
            </div>
        }
        <div class="w-100 my-2"></div>
          </div>
      </div>
    </div>
}

