@model NdcBingo.Models.Players.NewViewModel

@{
  ViewBag.Title = "New Player";
  Layout = "_Layout";
}

<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
    <h2>Player setup</h2>
    <p>If you already have a code from another device, just enter it below. Otherwise choose a player name.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
<form asp-controller="Players" asp-action="CreatePlayer" method="post">
  <div class="form-group">
    <label asp-for="Player.Name">Name</label>
    <input type="text" asp-for="Player.Name" name="Name" class="form-control form-control-lg" placeholder="Player Name">
  </div>
  <div class="form-group">
    <label asp-for="Player.Code">Code</label>
    <input type="text" asp-for="Player.Code" name="Code" class="form-control form-control-lg" placeholder="Player Code">
  </div>
  <button class="btn btn-lg btn-block btn-success" type="submit">OK</button>
</form>
  </div>
</div>
